/* Styles globaux si nécessaires */
body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Optimisation Mobile Paysage */
@media screen and (max-width: 900px) and (orientation: landscape) {
    body {
        overflow: hidden;
        touch-action: none;
    }
    
    #game-canvas {
        touch-action: none;
    }
}

/* Empêcher le zoom sur mobile */
@media screen and (max-width: 900px) {
    input, button, select, textarea {
        font-size: 16px !important;
    }
}